/* @define account */

// pages/_account.scss

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;

.account__info {
  display: grid;
  gap: var.$spacing-md;
  grid-template-columns: auto 1fr;
}

.account__content .account__title {
  margin: 0;
}

/* stylelint-disable-next-line plugin/selector-bem-pattern */
.account__info .notice {
  grid-column: span 2;
}
