// pages/_account.scss

/* @define account */

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;
@use "../abstracts/mixins" as mixins;

.account {
  &__info {
    display: grid;
    gap: var.$spacing-md;
    grid-template-columns: auto 1fr;

    &-notice {
      grid-column: span 2;
    }
  }

  &__title {
    margin: 0;
  }
}
