// pages/_account.scss

/* @define account */

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;
@use "../abstracts/mixins" as mixins;

/* stylelint-disable plugin/selector-bem-pattern */
.account-page .page__content {
  display: flex;
  flex-direction: column;
  gap: var.$spacing-md;
}
/* stylelint-enable plugin/selector-bem-pattern */

.account {
  &__info {
    display: grid;
    gap: var.$spacing-md;
    grid-template-columns: auto 1fr;

    &-notice {
      grid-column: span 2;
    }
  }

  &__title {
    margin: 0;
  }

  &__actions {
    &-change-password {
      display: grid;
      gap: var.$spacing-md;
      grid-template-columns: auto 1fr;

      &-notice {
        grid-column: span 2;
      }
    }
  }
}
