/* @define dashboard */

.dashboard__content > .dashboard__content-header {
  display: flex;
  justify-content: space-between;
}

.dashboard__content-header-title {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.dashboard__table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.dashboard__table .dashboard__table-cell {
  border-bottom: 1px solid var(--colour-primary-dark);
  padding: 1rem;
  text-align: center;
}

.dashboard__table .dashboard__table-row:last-child .dashboard__table-cell {
  border-bottom: none;
}

.dashboard__table .dashboard__table-body .dashboard__table-row {
  cursor: pointer;

  &:hover {
    background-color: var(--colour-primary-dark);
  }
}


.dashboard__table-status {
  background-color: var(--colour-primary-light);
  border-radius: 50%;
  display: block;
  height: .5rem;
  margin: auto;
  width: .5rem;
}

.dashboard__content-summary {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}
