// pages/_dashboard.scss

/* @define dashboard */

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;
@use "../abstracts/mixins" as mixins;

.dashboard {
  &__content {
    &-header {
      display: flex;
      justify-content: space-between;
    }

    &-header-title {
      align-items: center;
      display: flex;
      gap: var.$spacing-sm;
    }

    &-summary {
      display: grid;
      gap: var.$spacing-md;
      grid-template-columns: var.$grid-template-columns-sm;
    }
  }


  &__table {
    border: none;
    border-collapse: unset;
    width: 100%;

    &-header {
      display: none;
    }

    &-body {
      display: block;
    }

    &-cell {
      align-items: center;
      border-bottom: 1px solid colours.$primary-lighter;
      display: flex;
      justify-content: space-between;
      padding: var.$spacing-sm var.$spacing-md;

      &:last-child {
        border-bottom: none;

        &::after {
          color: colours.$offwhite;
          content: "›";
          font-size: var.$font-size-xl;
          position: absolute;
          right: var.$spacing-sm;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &::before {
        content: attr(data-label);
        font-weight: bold;
        margin-right: var.$spacing-sm;
      }
    }

    &-row {
      background: colours.$primary-light;
      border-radius: var.$border-radius-base;
      cursor: pointer;
      display: block;
      margin-bottom: var.$spacing-lg;
      overflow: hidden;
      padding: var.$spacing-sm;
      padding-right: var.$spacing-lg;
      position: relative;
    }

    &-status {
      background-color: colours.$primary-light;
      border-radius: 50%;
      display: block;
      height: 0.5rem;
      width: 0.5rem;
    }

    @include mixins.respond-above(md) {
      border-collapse: collapse;

      &-header {
        display: table-header-group;
      }

      &-body {
        display: table-row-group;
      }

      &-cell {
        display: table-cell;
        padding: var.$spacing-md var.$spacing-md;
        text-align: center;

        &:last-child {
          border-bottom: 1px solid colours.$primary-lighter;
          position: relative;

          &::after {
            opacity: 0.5;
            right: var.$spacing-md;
            transition: opacity 0.2s;
          }
        }

        &::before {
          content: none;
        }

        &:hover::after {
          opacity: 1;
        }
      }

      &-row {
        background: transparent;
        display: table-row;
        margin: 0;

        &:hover {
          background-color: colours.$primary-light;
        }

        &:last-child .dashboard__table-cell {
          border-bottom: none;
        }
      }
    }
  }
}
