// pages/_edit.scss

/* @define edit-page */

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;
@use "../abstracts/mixins" as mixins;

/* stylelint-disable plugin/selector-bem-pattern */
.edit-page .page__content {
  display: flex;
  flex-direction: column;
  gap: var.$spacing-md;
}
/* stylelint-enable plugin/selector-bem-pattern */

.edit-page {
  &__back-button {
    width: fit-content;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: var.$spacing-md;
    justify-content: space-between;

    &-edit-title {
      align-items: center;
      display: flex;
      gap: var.$spacing-sm;
      max-width: calc(100vw - (2 * var.$spacing-md));
    }

    &-buttons {
      display: flex;
      gap: var.$spacing-sm;
    }
  }

  &__title-input {
    max-width: calc(100% - 2rem - var.$spacing-sm);
  }

  &__slug-input {
    max-width: calc(100% - 1.5rem - (2 * var.$spacing-sm) - 107px);
  }

  &__title-input,
  &__slug-input {
    display: block;
    width: fit-content;
  }

  &__title-edit-icon {
    cursor: pointer;
    height: 2rem;
    width: 2rem;
  }

  &__slug-label {
    align-items: center;
    display: flex;
    gap: var.$spacing-sm;
  }

  &__section-label {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: var.$spacing-xs;
  }

  &__slug-edit-icon,
  &__desc-edit-icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  &__char-count {
    @include mixins.char-count;
  }

  &__monitors-list {
    display: flex;
    flex-direction: column;
    gap: var.$spacing-sm;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__monitor {
    &-item {
      align-items: center;
      display: flex;
      gap: var.$spacing-sm;
      justify-content: space-between;

      &:hover {
        background-color: colours.$primary-light;
      }
    }

    &-title {
      align-items: center;
      display: flex;
      gap: var.$spacing-sm;
      justify-content: start;
      width: 100%;
    }

    &-remove-button,
    &-title {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    &-status {
      background-color: colours.$primary-lighter;
      border-radius: var.$border-radius-circle;
      height: 0.75rem;
      width: 0.75rem;
    }

    &-menu-icon {
      cursor: grab;
      height: 1.5rem;
      min-width: 1.5rem;
      width: 1.5rem;
    }
  }

  &__section-header {
    align-items: center;
    display: flex;
    gap: var.$spacing-sm;
    justify-content: space-between;
  }
}
