/* @define homepage */

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;

/* stylelint-disable plugin/selector-bem-pattern */
main.homepage {
  margin: 0;
  max-width: none;
  padding: 0;
}

main.homepage .page__content > div {
  margin: 0 auto;
  max-width: 60rem;
  width: calc(100% - (var.$spacing-md * 2));
}

main.homepage .page__content > div[data-width="full"] {
  margin: 0;
  max-width: none;
  width: 100%;
}

.homepage .page__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var.$spacing-lg;
  padding-bottom: var.$spacing-lg;
}
/* stylelint-enable plugin/selector-bem-pattern */

.homepage--hero {
  align-items: center;
  /* stylelint-disable-next-line @stylistic/declaration-colon-space-after */
  background:
    linear-gradient(#00000066, #00000066),
    url("/public/images/homepage-hero.png") no-repeat center/cover;
  display: flex;
  flex-direction: column;
  gap: var.$spacing-md;
  justify-content: center;
  min-height: 50vh;
  padding: var.$spacing-lg;
  text-align: center;
  width: 100% !important;
}

.homepage__features-grid {
  display: grid;
  gap: var.$spacing-md;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.homepage__feature-icon,
.homepage__step-icon {
  height: 3rem;
  width: 3rem;
}

.homepage__feature-card--upcoming {
  opacity: 0.8;
  transform: scale(0.95);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;
    transform: scale(1);
  }
}

.homepage__how-it-works-steps {
  display: grid;
  gap: var.$spacing-md;
}

.homepage__pricing-grid {
  display: grid;
  gap: var.$spacing-md;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  ul {
    font-size: var.$font-size-sm;
    line-height: var.$line-height-sm;
    list-style: none;
    margin: var.$spacing-md 0;
    padding: 0;

    /* stylelint-disable-next-line plugin/selector-bem-pattern */
    li {
      margin-bottom: var.$spacing-sm;
    }
  }
}

.homepage__pricing-card {
  position: relative;
  text-align: center;
}

.homepage__price-amount {
  font-weight: bold;
  margin-bottom: var.$spacing-md;
}

/* stylelint-disable-next-line plugin/selector-bem-pattern */
.pricing--upcoming {
  opacity: 0.75;
  pointer-events: none;

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  .homepage__pricing-tag {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }
}
