// components/_homepage.scss

/* @define homepage */


@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;
@use "../abstracts/mixins" as mixins;


.homepage {
  margin: 0;
  max-width: none;
  padding: 0;

  /* stylelint-disable plugin/selector-bem-pattern */
  .page__content > div {
    margin: 0 auto;
    max-width: 60rem;
    width: calc(100% - (var.$spacing-md * 2));

    &[data-width="full"] {
      margin: 0;
      max-width: none;
      width: 100%;
    }
  }

  .page__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var.$spacing-lg;
    padding-bottom: var.$spacing-lg;
  }
  /* stylelint-enable plugin/selector-bem-pattern */

  &--hero {
    align-items: center;
    /* stylelint-disable-next-line @stylistic/declaration-colon-space-after */
    background:
      linear-gradient(#00000066, #00000066),
      url("/public/images/homepage-hero.png") no-repeat center/cover;
    display: flex;
    flex-direction: column;
    gap: var.$spacing-md;
    justify-content: center;
    min-height: 50vh;
    padding: var.$spacing-lg;
    text-align: center;
    width: 100% !important;
  }

  &__features-grid {
    display: grid;
    gap: var.$spacing-md;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  &__feature-icon,
  &__step-icon {
    height: 3rem;
    width: 3rem;
  }

  &__feature-card--upcoming {
    opacity: 0.8;
    transform: scale(0.95);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    &:hover {
      opacity: 1;
      transform: scale(1);
    }
  }

  &__how-it-works-steps {
    display: grid;
    gap: var.$spacing-md;
  }

  &__pricing {
    &-grid {
      display: grid;
      gap: var.$spacing-md;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }

    &-card {
      position: relative;
      text-align: center;

      &--upcoming {
        opacity: 0.75;
        pointer-events: none;

        &-tag {
          position: absolute;
          right: 0.5rem;
          top: 0.5rem;
        }
      }
    }
  }

  &__price-amount {
    font-weight: bold;
    margin-bottom: var.$spacing-md;
  }
}
