/* @define login-page */

// components/_login.scss

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;

.login-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-page__container {
  align-items: center;
  background-color: colours.$primary;
  border-radius: var.$border-radius-base;
  display: flex;
  flex-direction: column;
  gap: var.$spacing-md;
  justify-content: center;
  max-width: 30rem;
  padding: var.$spacing-lg;
  width: 100%;
}

.login-page__logo {
  width: 20rem;
}

.login-page__login-signup {
  display: grid;
  gap: var.$spacing-md;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  width: 100%;
}

.login-page__login-signup-button:disabled {
  cursor: auto;
  opacity: 1;

  &:hover {
    background-color: unset;
  }
}

.login-page__form {
  display: flex;
  flex-direction: column;
  gap: var.$spacing-md;
  width: 100%;
}

.login-page__form-input {
  background-color: colours.$primary-darkest;
  border: none;
  border-radius: var.$border-radius-base;
  color: colours.$offwhite;
  // font-size: var.$font-size-base;
  padding: var.$spacing-md;
  width: auto;
}
