/* @define monitor-page */

// components/_monitor-page.scss

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;

.monitor-page__details__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var.$spacing-md 0;
}

.monitor-page__details__header-status {
  align-items: center;
  display: flex;
  gap: var.$spacing-sm;
}

.monitor-page__details__header-buttons {
  display: flex;
  gap: var.$spacing-sm;
}

.monitor-page__details-status {
  background-color: colours.$primary-light;
  border-radius: var.$border-radius-base;
  display: block;
  height: 0.75rem;
  width: 0.75rem;
}

.monitor-page__details__info {
  display: grid;
  gap: var.$spacing-md;
  grid-template-columns: repeat(6, 1fr);
}

.monitor-page__details__info-item {
  display: grid;
}

.monitor-page__details__info-item-subtitle {
  font-size: var.$font-size-sm;
}

/* stylelint-disable-next-line plugin/selector-bem-pattern */
.monitor-page__details__info-item .uptime-pill {
  margin-top: var.$spacing-sm;
}

.monitor-page__details__response-time-header {
  display: flex;
  justify-content: space-between;
}

.monitor-page__details__response-time-header-select {
  background-color: colours.$primary-light;
  border: none;
  border-radius: var.$border-radius-base;
  cursor: pointer;
  padding: var.$spacing-sm;
}

.monitor-page__details__downtime-list-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

/* stylelint-disable-next-line plugin/selector-bem-pattern */
.monitor-page__details__downtime-list-table th {
  border-bottom: 2px solid colours.$primary-light;
}

.monitor-page__details__downtime-list-table-header-date {
  width: 35%;
}

.monitor-page__details__downtime-list-table-header-error-message {
  width: 50%;
}

/* stylelint-disable-next-line plugin/selector-bem-pattern */
.monitor-page__details__downtime-list-table td {
  border-bottom: 1px solid colours.$primary-light;
  padding: var.$spacing-md;
  text-align: center;
}

/* stylelint-disable-next-line plugin/selector-bem-pattern */
.monitor-page__details__downtime-list-table tr:last-child td {
  border-bottom: none;
}
