// components/_monitor-page.scss

/* @define monitor-page */

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;
@use "../abstracts/mixins" as mixins;

.monitor-page {
  &__details {
    &--header {
      align-items: center;
      display: flex;
      flex-flow: column wrap;
      gap: var.$spacing-md;
      justify-content: space-between;
      padding: var.$spacing-md 0;

      &-info {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: var.$spacing-xs;
        max-width: 100%;
        min-width: 0;
        padding-right: var.$spacing-md;
        width: calc(100vw - (2 * var.$spacing-md));

        &-name {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
        }

        &-url {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      &-buttons {
        display: flex;
        gap: var.$spacing-sm;
      }

      @include mixins.respond-above(sm) {
        flex-direction: row;
      }
    }

    &-status {
      background-color: colours.$primary-light;
      border-radius: var.$border-radius-base;
      display: block;
      height: 0.75rem;
      width: 0.75rem;
    }

    &--info {
      display: grid;
      gap: var.$spacing-md;
      grid-template-columns: var.$grid-template-columns-sm;

      &-item {
        display: grid;
      }

      &-item-subtitle {
        font-size: var.$font-size-sm;
      }

      &-item-uptime-pill {
        margin-top: var.$spacing-sm;
      }
    }

    &--response-time-header {
      display: flex;
      justify-content: space-between;
    }

    &--downtime-list-table {
      border-collapse: separate;
      border-spacing: 0;
      width: 100%;

      &-header {
        border-bottom: 2px solid colours.$primary-light;
      }

      &-header-date {
        width: 35%;
      }

      &-header-error-message {
        width: 50%;
      }

      &-row-cell {
        border-bottom: 1px solid colours.$primary-light;
        padding: var.$spacing-md;
        text-align: center;
      }

      &-row:last-child {
        &-cell {
          border-bottom: none;
        }
      }
    }
  }
}
