// pages/_pages.scss

/* @define pages-page */

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;
@use "../abstracts/mixins" as mixins;

.pages-page {
  &__header {
    align-items: center;
    display: flex;
    gap: var.$spacing-md;
    justify-content: space-between;
    padding-bottom: var.$spacing-md;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var.$spacing-md;
  }

  &__card {
    display: grid;
    gap: var.$spacing-sm;
    text-align: unset;

    &:hover {
      background-color: colours.$primary-lighter;
      cursor: pointer;
    }

    &-header {
      align-items: center;
      display: flex;
      gap: var.$spacing-sm;
      justify-content: space-between;

      &-title {
        align-items: center;
        display: flex;
        gap: var.$spacing-sm;
      }

      &-access-pill {
        gap: var.$spacing-xs;
      }
    }
  }
}
