/* @define pages-page */

// pages/_pages.scss

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;

.pages-page__header {
  align-items: center;
  display: flex;
  gap: var.$spacing-md;
  justify-content: space-between;
  padding-bottom: var.$spacing-md;
}

.pages-page__list {
  display: flex;
  flex-direction: column;
  gap: var.$spacing-md;
}

.pages-page__card {
	display: grid;
  gap: var.$spacing-sm;
	text-align: unset;

  &:hover {
    background-color: colours.$primary-lighter;
    cursor: pointer;
  }
}

.pages-page__card-header {
  align-items: center;
  display: flex;
  gap: var.$spacing-sm;
  justify-content: space-between;

  .pages-page__card-header-title {
    align-items: center;
    display: flex;
    gap: var.$spacing-sm;

    .pages-page__card-header-access-pill {
      gap: var.$spacing-xs;
    }
  }
}
