/* @define status-page */

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;

.status-page__error-description {
  margin: var.$spacing-md 0;
}

.status-page__error {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

// stylelint-disable-next-line plugin/selector-bem-pattern
.status-page .page__content {
  display: flex;
  flex-direction: column;
  gap: var.$spacing-md;
  justify-content: center;
}

.status-page__monitor-header {
  align-items: center;
  display: flex;
  gap: var.$spacing-sm;
}

.status-page__monitor--content {
  display: flex;
  flex-direction: column;
  gap: var.$spacing-md;
}

.status-page__monitor--details {
  display: grid;
  gap: var.$spacing-md;
  grid-template-columns: repeat(5, 1fr);
}

.status-page__monitor--details-card {
  display: grid;
  gap: var.$spacing-xs;

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  .uptime-pill {
    margin-top: var.$spacing-sm;
  }
}

.status-page__monitor--details-card-subtitle {
  font-size: var.$font-size-sm;
}

.status-page__monitor--response-time-header {
  display: flex;
  justify-content: space-between;
}

.status-page__monitor--response-time-header-select {
  background-color: colours.$primary-light;
  border: none;
  border-radius: var.$border-radius-base;
  cursor: pointer;
  padding: var.$spacing-sm;
}

.status-page__monitor--downtime-list-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

/* stylelint-disable-next-line plugin/selector-bem-pattern */
.status-page__monitor--downtime-list-table th {
  border-bottom: 2px solid colours.$primary-light;
}

.status-page__monitor--downtime-list-table-header-date {
  width: 35%;
}

.status-page__monitor--downtime-list-table-header-error-message {
  width: 50%;
}

/* stylelint-disable-next-line plugin/selector-bem-pattern */
.status-page__monitor--downtime-list-table td {
  border-bottom: 1px solid colours.$primary-light;
  padding: var.$spacing-md;
  text-align: center;
}

/* stylelint-disable-next-line plugin/selector-bem-pattern */
.status-page__monitor--downtime-list-table tr:last-child td {
  border-bottom: none;
}
