/* @define status-page */

.status-page__error-description {
  margin: 1rem 0;
}

.status-page__error {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

// stylelint-disable-next-line plugin/selector-bem-pattern
.status-page .page__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.status-page__monitor-header {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.status-page__monitor--content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.status-page__monitor--details {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}

.status-page__monitor--details-card {
  display: grid;
  gap: 0.25rem;

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  .uptime-pill {
    margin-top: 0.5rem;
  }
}

.status-page__monitor--details-card-subtitle {
  font-size: 0.8rem;
}

.status-page__monitor--response-time-header {
  display: flex;
  justify-content: space-between;
}

.status-page__monitor--response-time-header-select {
  background-color: var(--colour-primary-light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
}

.status-page__monitor--downtime-list-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

/* stylelint-disable-next-line plugin/selector-bem-pattern */
.status-page__monitor--downtime-list-table th {
  border-bottom: 2px solid var(--colour-primary-light);
}

.status-page__monitor--downtime-list-table-header-date {
  width: 35%;
}

.status-page__monitor--downtime-list-table-header-error-message {
  width: 50%;
}

/* stylelint-disable-next-line plugin/selector-bem-pattern */
.status-page__monitor--downtime-list-table td {
  border-bottom: 1px solid var(--colour-primary-light);
  padding: 1rem;
  text-align: center;
}

/* stylelint-disable-next-line plugin/selector-bem-pattern */
.status-page__monitor--downtime-list-table tr:last-child td {
  border-bottom: none;
}
