// utils/typography-utils.scss

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;

.text-h1 {
  font-size: var.$font-size-xxl;
  font-weight: 700;
  line-height: var.$line-height-xxl;
  margin: 0;
}

.text-h2 {
  font-size: var.$font-size-xl;
  font-weight: 700;
  line-height: var.$line-height-xl;
  margin: 0;
}

.text-body {
  font-size: var.$font-size-base;
  font-weight: 400;
  line-height: var.$line-height-base;
  margin: 0;
}
