// abstracts/_colours.scss

// - Neutral -
$white:               #ffffff;
$offwhite:            #fefefe;
$black:               #000000;

// - Primary Palette -
$primary:             #5f5f5f;
$primary-dark:        #4b5563;
$primary-darker:      #3b3b3b;
$primary-darkest:     #242424;
$primary-light:       #707070;
$primary-lighter:     #999999;

// - Accent Colours -
$blue:                #007bff;
$light-blue:          #cce5ff;
$light-green:         #8eff8e;
$light-red:           #f8cfcf;
$light-yellow:        #fef9e6;

// - Status Colours -
$green:               #4faa4f;
$red:                 #d85148;
$red-hover:           #b77676;
$yellow:              #efca46;
