// abstracts/_colours.scss

$black:               #000000;
$blue:                #007bff;
$brand-red:           #d85148;
$green:               #4faa4f;
$light-blue:          #cce5ff;
$light-green:         #8eff8e;
$light-red:           #f8cfcf;
$light-yellow:        #fef9e6;
$offwhite:            #fefefe;
$primary:             #5f5f5f;
$primary-dark:        #4b5563;
$primary-darker:      #3b3b3b;
$primary-darkest:     #242424;
$primary-light:       #707070;
$primary-lighter:     #999999;
$red:                 #d85148;
$red-hover:           #b77676;
$white:               #ffffff;
$yellow:              #efca46;
