// abstract/_mixins.scss

@use "variables" as var;
@use "colours" as colours;

// Delete Modal Mixin
@mixin delete-modal {
  &__confirm-text {
    margin: var.$spacing-md 0;
  }

  &__code {
    background-color: colours.$primary-light;
    border-radius: var.$border-radius-base;
    padding: var.$spacing-xs var.$spacing-sm;
  }

  &__buttons {
    display: flex;
    gap: var.$spacing-sm;
    margin-top: var.$spacing-sm;
  }
}
