// components/_accordion.scss

/* @define accordion */

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;
@use "../abstracts/mixins" as mixins;

.accordion {
  background-color: colours.$primary;
  border-radius: var.$border-radius-base;
  display: flex;
  flex-direction: column;
  gap: var.$spacing-sm;
  padding: var.$spacing-md;

  &__header {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: var.$spacing-sm;
  }

  &__title {
    align-items: center;
    display: flex;
    gap: var.$spacing-sm;

    &-status {
      background-color: colours.$primary-light;
      border-radius: var.$border-radius-circle;
      display: inline-block;
      height: 0.75rem;
      width: 0.75rem;
    }
  }

  &__content {
    border-top: 1px solid colours.$primary-light;
    margin-top: var.$spacing-md;
    max-height: none;
    padding-top: var.$spacing-md;
    transition: all 0.3s ease;

    &-collapsed {
      border-top: none;
      margin-top: 0;
      max-height: 0;
      overflow: hidden;
      padding-top: 0;
    }
  }
}
