// components/_add-monitor-modal.scss

/* @define add-monitor-modal */

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;

.add-monitor-modal {
  min-width: 25vw;

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    align-items: center;
    border-bottom: 1px solid colours.$primary-lighter;
    display: flex;
    gap: var.$spacing-sm;
    justify-content: space-between;
    padding: var.$spacing-sm 0;

    &:last-child {
      border-bottom: none;
    }
  }
}
