/* @define btn */

.btn {
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &--primary {
    background-color: var(--colour-btn-primary);
    color: var(--colour-btn-primary-text);

    &:hover {
      background-color: var(--colour-btn-primary-hover);
    }
  }

  &--secondary {
    background-color: var(--colour-btn-secondary);
    color: var(--colour-btn-secondary-text);

    &:hover {
      background-color: var(--colour-btn-secondary-hover);
    }
  }

  &--dangerous {
    background-color: var(--colour-btn-dangerous);
    color: var(--colour-btn-dangerous-text);

    &:hover {
      background-color: var(--colour-btn-dangerous-hover);
    }
  }

  &--text {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    padding: 0;

    &:hover {
      text-decoration: underline;
    }
  }
}
