// components/_button.scss

/* @define button */

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;
@use "../abstracts/mixins" as mixins;

.button {
  border: none;
  border-radius: var.$border-radius-base;
  cursor: pointer;
  font-size: var.$font-size-base;
  line-height: var.$line-height-base;
  padding: var.$spacing-sm;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &--primary {
    background-color: colours.$primary-light;
    color: colours.$offwhite;

    &:hover {
      background-color: colours.$primary-dark;
    }
  }

  &--secondary {
    background-color: colours.$primary;
    color: colours.$offwhite;

    &:hover {
      background-color: colours.$primary-darker;
    }
  }

  &--dangerous {
    background-color: colours.$red;
    color: colours.$offwhite;

    &:hover {
      background-color: colours.$red-hover;
    }
  }

  &--text {
    background: none;
    border: none;
    color: colours.$offwhite;
    cursor: pointer;
    font: inherit;
    padding: 0 !important;
    text-decoration: underline;

    &:hover {
      color: colours.$light-red;
    }
  }

  @include mixins.respond-above(sm) {
    padding: var.$spacing-md;
  }
}
