/* @define card */

// components/_card.scss

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;

.card {
  background-color: colours.$primary-light;
  border-radius: var.$border-radius-base;
  padding: var.$spacing-md;
  text-align: center;
}
