// components/_create-page-modal.scss

/* @define create-page-modal */

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;
@use "../abstracts/mixins" as mixins;

.create-page-modal {
  &__form {
    display: grid;
    gap: var.$spacing-md;
    margin-top: var.$spacing-sm;

    &-group {
      display: grid;
      gap: var.$spacing-sm;

      &--error-notice {
        justify-self: center;
      }

      &--char-count {
        @include mixins.char-count;
      }

      &--checkbox {
        align-items: center;
        display: flex;
        gap: var.$spacing-sm;
      }

      &-buttons {
        display: flex;
        gap: var.$spacing-md;
        justify-content: end;
      }
    }
  }
}
