// components/_create-monitor-modal.scss

/* @define create-monitor-modal */

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;
@use "../abstracts/mixins" as mixins;

.create-monitor-modal {
  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: fit-content;
  }

   &__input {
      margin-bottom: var.$spacing-md;
      max-width: 20rem;
      width: 20vw;

      &:last-child {
        margin-bottom: 0;
      }
    }
}
