// components/_create-monitor-modal.scss

/* @define create-monitor-modal */

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;
@use "../abstracts/mixins" as mixins;

.create-monitor-modal {
  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: fit-content;
  }

   &__input {
    margin-bottom: var.$spacing-md;

    &:last-child {
      margin-bottom: 0;
    }

    &--error {
      margin-bottom: var.$spacing-md;
    }

    @include mixins.respond-above(sm) {
      width: 31em;
    }
  }
}
