/* @define delete-monitor-modal */

.delete-monitor-modal .delete-monitor-modal__description {
  margin: 0;
}

.delete-monitor-modal__actions .delete-monitor-modal__code {
  background-color: var(--colour-primary-light);
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
}

.delete-monitor-modal__buttons {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
