/* @define delete-monitor-modal */

// components/_delete-monitor-modal.scss

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;

.delete-monitor-modal__confirm-text {
  margin: var.$spacing-md 0;
}

.delete-monitor-modal__actions .delete-monitor-modal__code {
  background-color: colours.$primary-light;
  border-radius: var.$border-radius-base;
  padding: var.$spacing-xs var.$spacing-sm;
}

.delete-monitor-modal__buttons {
  display: flex;
  gap: var.$spacing-sm;
  margin-top: var.$spacing-sm;
}
