/* @define edit-monitor */

// components/_edit-monitor-modal.scss

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;

.edit-monitor__inputs {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: fit-content;

  .edit-monitor__input {
    margin-bottom: var.$spacing-sm;
    max-width: 20rem;
    width: 20vw;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .edit-monitor__label {
    margin-top: var.$spacing-sm;

    &:first-child {
      margin-top: 0;
    }
  }
}
