// components/_edit-monitor-modal.scss

/* @define edit-monitor-modal */

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;
@use "../abstracts/mixins" as mixins;

.edit-monitor-modal {
  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: fit-content;
  }

  &__input {
    margin-bottom: var.$spacing-sm;
    max-width: 20rem;
    width: 20vw;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    margin-top: var.$spacing-sm;

    &:first-child {
      margin-top: 0;
    }
  }
}
