// components/_footer.scss

/* @define footer */

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;
@use "../abstracts/mixins" as mixins;

.footer {
  background: colours.$primary-dark;
  color: colours.$offwhite;
  padding: var.$spacing-lg var.$spacing-md;
  text-align: center;

  &__copy {
    display: block;
    font-size: var.$font-size-sm;
    line-height: var.$line-height-sm;
    margin-bottom: var.$spacing-sm;
  }

  &__legal {
    margin-bottom: var.$spacing-md;
  }

  &__link {
    margin: 0 var.$spacing-sm;
    white-space: nowrap;
  }

  &__socials {
    margin-bottom: var.$spacing-sm;
  }

  &__social-link {
    color: colours.$offwhite;
    margin: 0 var.$spacing-sm;

    &:hover {
      color: colours.$light-red;
    }
  }

  &__social-icon {
    height: 1.25rem;
    width: 1.25rem;
  }
}
