/* @define icon */

// components/_icon.scss

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;

.icon {
  display: inline-block;
  fill: none;
  height: var.$font-size-base;
  vertical-align: middle;
  width: var.$font-size-base;
}
