// components/_modal.scss

/* @define modal */

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;
@use "../abstracts/mixins" as mixins;

.modal {
  background-color: colours.$primary;
  border-radius: var.$border-radius-base;
  left: 50%;
  max-height: 80vh;
  max-width: 30rem;
  min-width: min(25rem, 95vw);
  overflow-y: auto;
  padding: var.$spacing-lg;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  &__background {
    background-color: rgba(colours.$black, 0.5);
    inset: 0;
    position: fixed;
    z-index: var.$z-index-modal;
  }

  &__header {
    border-bottom: 1px solid colours.$primary-light;
    display: flex;
    justify-content: space-between;
    padding-bottom: var.$spacing-md;
  }

  &__title {
    margin: 0;
  }

  &__close {
    background: none;
    border: none;
    cursor: pointer;
    font-size: var.$font-size-xxl;
    margin: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var.$spacing-md;
    padding-top: var.$spacing-md;
  }
}
