/* @define modal */

// components/_modal.scss

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;

.modal__background {
  background-color: #00000080;
  inset: 0;
  position: fixed;
  z-index: var.$z-index-modal;
}

.modal {
  background-color: colours.$primary;
  border-radius: var.$border-radius-base;
  left: 50%;
  max-height: 80vh;
  max-width: 30rem;
  min-width: 25rem;
  overflow-y: auto;
  padding: var.$spacing-lg;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal__header {
  border-bottom: 1px solid colours.$primary-light;
  display: flex;
  justify-content: space-between;
  padding-bottom: var.$spacing-md;
}

.modal__title {
  margin: 0;
}

.modal__close {
  background: none;
  border: none;
  cursor: pointer;
  font-size: var.$font-size-xxl;
  margin: 0;
}

.modal__content {
  display: flex;
  flex-direction: column;
  gap: var.$spacing-md;
  padding-top: var.$spacing-md;
}

/* stylelint-disable-next-line plugin/selector-bem-pattern */
body:has(.modal) {
  overflow: hidden;
}

/* stylelint-disable-next-line plugin/selector-bem-pattern */
.modal .notice {
  max-width: 20rem;
}
