/* @define modal */

.modal__background {
  background-color: rgb(0 0 0 / 50%);
  inset: 0;
  position: fixed;
  z-index: 1000;
}

.modal {
  background-color: var(--colour-primary);
  border-radius: 0.5rem;
  left: 50%;
  max-width: 30rem;
  padding: 2rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal__header {
  border-bottom: 1px solid var(--colour-primary-light);
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.modal__title {
  margin: 0;
}

.modal__close {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  margin: 0;
}

.modal__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1.5rem;
}

/* stylelint-disable-next-line plugin/selector-bem-pattern */
body:has(.modal) {
  overflow: hidden;
}

/* stylelint-disable-next-line plugin/selector-bem-pattern */
.modal .notice {
  max-width: 20rem;
}
