/* @define navbar */

.navbar {
  background-color: var(--colour-primary-dark);
}

.navbar__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 60rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.navbar__logo {
  height: 3.5rem;
  margin: 0.5rem;
  width: auto;
}

.navbar__links {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.navbar__links .navbar__links-link {
  color: var(--colour-white);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
