/* @define notice */

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;

.notice {
  border-radius: var.$border-radius-base;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: var.$spacing-xs;
  text-align: center;
  width: 100%;
}

.notice__success {
  background-color: colours.$green;
  color: colours.$offwhite;
}

.notice__error {
  background-color: colours.$red;
  color: colours.$offwhite;
}

.notice__info {
  background-color: colours.$blue;
  color: colours.$offwhite;
}

.notice__warning {
  background-color: colours.$yellow;
  color: colours.$black;
}

.notice__dismiss {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: var.$spacing-sm;
}

.notice__icon {
  height: 1.5rem;
  width: 1.5rem;
}
