/* @define page */

// components/_page.scss

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;

/* stylelint-disable plugin/selector-bem-pattern */
main {
	margin: 0 auto;
	max-width: 60rem;
  min-height: calc(100vh - var.$nav-height - var.$footer-height);
	padding: var.$spacing-md;
}

.page__header {
  margin-bottom: var.$spacing-md;
}
