/* @define section */

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;

.section {
  background-color: colours.$primary;
  border-radius: var.$border-radius-base;
  display: flex;
  flex-direction: column;
  gap: var.$spacing-md;
  padding: var.$spacing-md;
}

.section__dark {
  background-color: colours.$primary-darkest;
}
