/* @define tag */

// components/_tag.scss

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;

.tag {
  align-items: center;
	background-color: colours.$primary-light;
	border: 1px solid colours.$primary;
	border-radius: var.$border-radius-circle;
	display: flex;
	font-size: var.$font-size-sm;
	font-weight: 500;
	padding: 0.25rem 0.5rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
  width: fit-content;
}

.tag__green {
  background-color: colours.$light-green;
  border: 1px solid colours.$green;
  color: colours.$green;
  fill: colours.$green;
}

.tag__yellow {
  background-color: colours.$light-yellow;
  border: 1px solid colours.$yellow;
  color: colours.$yellow;
  fill: colours.$yellow;
}

.tag__red {
  background-color: colours.$light-red;
  border: 1px solid colours.$red;
  color: colours.$red;
  fill: colours.$red;
}
