// components/_tag.scss

/* @define tag */

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;
@use "../abstracts/mixins" as mixins;

.tag {
  align-items: center;
	background-color: colours.$primary-light;
	border: 1px solid colours.$primary;
	border-radius: var.$border-radius-circle;
	display: flex;
	font-size: var.$font-size-sm;
	font-weight: 500;
	padding: var.$spacing-xs var.$spacing-sm;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
  width: fit-content;

  &__green {
    background-color: colours.$light-green;
    border: 1px solid colours.$green;
    color: colours.$green;
    fill: colours.$green;
  }

  &__yellow {
    background-color: colours.$light-yellow;
    border: 1px solid colours.$yellow;
    color: colours.$yellow;
    fill: colours.$yellow;
  }

  &__red {
    background-color: colours.$light-red;
    border: 1px solid colours.$red;
    color: colours.$red;
    fill: colours.$red;
  }
}
