// components/_uptime-pill.scss

/* @define uptime-pill */

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;
@use "../abstracts/mixins" as mixins;

.uptime-pill {
  background-color: colours.$primary-light;
  border-radius: var.$border-radius-circle;
  height: fit-content;
  padding: var.$spacing-xs var.$spacing-sm;
}
