/* @define uptime-chart */

// components/_uptime-chart.scss

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;

.uptime-chart {
  display: block;
  padding: var.$spacing-sm;
  width: calc(100% - (2 * var.$spacing-sm));
}

.uptime-chart__data {
  display: flex;
  justify-content: space-evenly;
}

.uptime-chart__data-item {
  background-color: colours.$primary-light;
  border-radius: var.$border-radius-circle;
  height: 2rem;
  margin: 0.125rem;
  width: 1rem;
}

.uptime-chart__labels {
  display: flex;
  justify-content: space-between;
}
