/* @define uptime-pill */

// components/_uptime-pill.scss

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;

.uptime-pill {
  background-color: colours.$primary-light;
  border-radius: var.$border-radius-circle;
  height: fit-content;
  padding: var.$spacing-xs var.$spacing-sm;
}
