/* @define visibility-toggle */

@use "../abstracts/variables" as var;
@use "../abstracts/colours" as colours;

.visibility-toggle {
  align-items: center;
  display: flex;
  gap: var.$spacing-sm;
  justify-content: center;
  width: fit-content;
}

.visibility-toggle--button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

.visibility-toggle--checkbox {
  display: none;
}

.visibility-toggle--slider {
  background-color: colours.$red;
  border-radius: var.$border-radius-circle;
  cursor: pointer;
  display: block;
  height: 1.5rem;
  position: relative;
  transition: background-color 0.2s ease-in-out;
  width: 3rem;

  &::before {
    background-color: colours.$white;
    border-radius: var.$border-radius-circle;
    content: "";
    height: 1.5rem;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform 0.2s ease-in-out;
    width: 1.5rem;
  }
}

.visibility-toggle--label:has(.visibility-toggle--checkbox:checked) {
  .visibility-toggle--slider {
    background-color: colours.$green;

    &::before {
      transform: translateX(1.5rem);
    }
  }
}
