.create-monitor--inputs {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: fit-content;
}

.create-monitor--inputs > input {
  margin-bottom: 1rem;
  max-width: 20rem;
  width: 20vw;
}

.create-monitor--inputs > input:last-child {
  margin-bottom: 0;
}
