.edit-monitor__inputs {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: fit-content;
}

.edit-monitor__inputs > input {
  margin-bottom: 0.5rem;
  max-width: 20rem;
  width: 20vw;
}

.edit-monitor__inputs > input:last-child {
  margin-bottom: 0;
}

.edit-monitor__inputs > label {
  margin-top: 0.5rem;
}

.edit-monitor__inputs > label:first-child {
  margin-top: 0;
}
