.dashboard__content {
  background-color: var(--colour-primary);
  border-radius: 5px;
  padding: 2rem;
}

.dashboard__content > .dashboard__content-header {
  display: flex;
  justify-content: space-between;
}

.dashboard__table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.dashboard__table td {
  border-bottom: 1px solid var(--colour-primary-dark);
  padding: 1rem;
  text-align: center;
}

.dashboard__table tr:last-child td {
  border-bottom: none;
}

.dashboard__table tbody tr {
  cursor: pointer;
}

.dashboard__table tbody tr:hover {
  background-color: var(--colour-primary-dark);
}


.dashboard__table-status {
  background-color: var(--colour-primary-light);
  border-radius: 50%;
  display: block;
  height: .5rem;
  margin: auto;
  width: .5rem;
}

.dashboard__table-uptime {
  background-color: var(--colour-primary-light);
  border-radius: 999px;
  padding: 0.25rem 0.5rem;
}

.dashboard__content-summary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 0;
  gap: 1rem;
}

.dashboard__content-summary-item {
  background-color: var(--colour-primary-light);
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
}

.dashboard__content > .dashboard__content-header > h2,
.dashboard__content-summary-item > h3,
.dashboard__content-summary-item > h4 {
  margin: 0;
}

.dashboard__table-status.up,
.dashboard__table-uptime.high {
  background-color: var(--colour-status-green);
}

.dashboard__table-uptime.medium {
  background-color: var(--colour-status-yellow);
}

.dashboard__table-status.down,
.dashboard__table-uptime.low {
  background-color: var(--colour-status-red);
}
