.dashboard--content {
  background-color: light-dark(#e5e5e5, #5f5f5f);
  border-radius: 5px;
  padding: 2rem;
}

.dashboard--content > .dashboard--content-header {
  display: flex;
  justify-content: space-between;
}

.dashboard--table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.dashboard--table td {
  border-bottom: 1px solid #4b5563;
  padding: 1rem;
  text-align: center;
}

.dashboard--table tr:last-child td {
  border-bottom: none;
}

.dashboard--table-status {
  background-color: #808080;
  border-radius: 50%;
  display: block;
  height: .5rem;
  margin: auto;
  width: .5rem;
}

.dashboard--table-uptime {
  background-color: #808080;
  border-radius: 999px;
  padding: 0.25rem 0.5rem;
}

.dashboard--content-summary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 0;
  gap: 1rem;
}

.dashboard--content-summary-item {
  background-color: light-dark(#e5e5e5, #7f7f7f);
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
}

.dashboard--content > .dashboard--content-header > h2,
.dashboard--content-summary-item > h3,
.dashboard--content-summary-item > h4 {
  margin: 0;
}

.dashboard--table-status.up,
.dashboard--table-uptime.high {
  background-color: var(--status-green);
}

.dashboard--table-uptime.medium {
  background-color: var(--status-yellow);
}

.dashboard--table-status.down,
.dashboard--table-uptime.low {
  background-color: var(--status-red);
}
