.monitor-page__details__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.monitor-page__details__header__status {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.monitor-page__details__header__buttons {
  display: flex;
  gap: 0.5rem;
}

.monitor-page__details-status {
  background-color: var(--colour-primary-light);
  border-radius: 50%;
  display: block;
  height: 1rem;
  width: 1rem;
}

.monitor-page__details__info {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
}

.monitor-page__details__info__item {
  display: grid;
}

.monitor-page__details__info__item > h2,
.monitor-page__details > h4 {
  margin: 0;
}

.monitor-page__details__info__item__subtitle {
  font-size: 0.8rem;
  margin: 0;
}

.monitor-page__details__info__item__value {
  margin: 0;
}

.monitor-page__details__info__item .uptime-pill {
  margin-top: 0.5rem;
}

.monitor-page__details__response-time {
  background-color: var(--colour-background);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.monitor-page__details__response-time__header {
  display: flex;
  justify-content: space-between;
}

.monitor-page__details__response-time__header > h2 {
  margin: 0;
}

.monitor-page__details__response-time__header__select {
  background-color: var(--colour-primary-light);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}
