.monitor-page__details__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.monitor-page__details__header__status {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.monitor-page__details__header__buttons {
  display: flex;
  gap: 0.5rem;
}

.monitor-page__details-status {
  background-color: var(--colour-primary-light);
  border-radius: 50%;
  display: block;
  height: 1rem;
  width: 1rem;
}

.monitor-page__details__info {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
}

.monitor-page__details__info__item {
  display: grid;
}

.monitor-page__details__info__item__subtitle {
  font-size: 0.8rem;
}

.monitor-page__details__info__item .uptime-pill {
  margin-top: 0.5rem;
}

.monitor-page__details__response-time__header {
  display: flex;
  justify-content: space-between;
}

.monitor-page__details__response-time__header__select {
  background-color: var(--colour-primary-light);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.monitor-page__details__downtime__list__table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.monitor-page__details__downtime__list__table th {
  border-bottom: 2px solid var(--colour-primary-light);
}

.monitor-page__details__downtime__list__table__header__date {
  width: 35%;
}

.monitor-page__details__downtime__list__table__header__error-message {
  width: 50%;
}

.monitor-page__details__downtime__list__table td {
  border-bottom: 1px solid var(--colour-primary-light);
  padding: 1rem;
  text-align: center;
}

.monitor-page__details__downtime__list__table tr:last-child td {
  border-bottom: none;
}

.monitor-page__details__info__item > h2,
.monitor-page__details > h4,
.monitor-page__details__back > h4,
.monitor-page__details__info__item__value,
.monitor-page__details__info__item__subtitle,
.monitor-page__details__response-time__header > h2,
.monitor-page__details__downtime > h2 {
  margin: 0;
}
